@model ProductViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row justify-content-center align-content-center mt-3">
    <h1 class="col-8 my-4">Edit Product</h1>
    <form method="post" asp-controller="Product" asp-action="Edit" class="row col-8">
        <partial name="PartialViews/CreateEditProductPartial" />



        <div class="mt-4 m-auto">
            <input class="btn btn-success" type="submit" value="Save" />
            <a asp-controller="Product" asp-action="AdminIndex" class="btn btn-outline-dark">Back to list</a>
        </div>
    </form>
</div>
